html {
	background: black url(../img/maggielandscape.jpg) no-repeat center fixed;
	background-size: cover;
	overflow: hidden;
}

#katie {
	font-size: 9em;
	text-align: center fixed;
	width: 80%;
	margin-top: 50px;
	margin-left: 90px;
}
#nav {
	width: 100%;
}
nav a {
	color: #293D3D;
	text-decoration: none;
	text-align: center;
}

h1 {
	color: #293D3D;
  	font-family: 'Montserrat';
  	font-weight: normal;
  	font-size: 3.5em;
  	text-transform: uppercase;
  	letter-spacing: 9px;
  	text-align: left;
}

h2 {
	font-weight: normal;
	font-size: 2em;
	font-family: 'Slabo 27px', serif;
	color: #293D3D;
	margin-top: -30px;
}

p {
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: left;
}

li {
	display: inline;
	margin-left: 10px;
	padding: 10px;

}

ul {
	display: block;
	color: #293D3D;
	font-size: 19px;
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
}


