html {
	background: black url(../img/maggielandscape.jpg) no-repeat center fixed;
	background-size: cover;
	overflow: hidden;
}

.katie {
	font-size: 2em;
	text-align: center;
	width: 80%;
	margin-top: 90px;
	margin-left: 40px;
}


h1 {
	color: black;
	font-size: 30px;
	text-align: left;
	font-family: arial, sans-serif;
}

p {
	color: black;
	font-size: 25px;
	text-align: left;
}
