html {
	background: black url(../img/maggielandscape.jpg) no-repeat right fixed;
	background-size: cover;
	overflow: hidden;
}

.katie {
	font-size: 2em;
	text-align: center;
	width: 80%;
	margin-top: 90px;
	margin-left: 40px;
}


h1 {
	color: #293D3D;
  	font-family: 'Montserrat';
  	font-weight: lighter;
  	font-size: 50px;
  	text-transform: uppercase;
  	letter-spacing: 9px;
  	text-align: left;
}

p {
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: left;
}

li {
	display: inline;
	margin-left: 10px;
	padding: 10px;
}

ul {
	display: block;
	color: #293D3D;
	font-size: 19px;
	list-style-type: none;
	font-family: 'Raleway', sans-serif;

}